<!-- dashboard/templates/dashboard/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
</head>
<body>
    <div class="menu">
        <a href="/start-training">Start Training</a>
        <a href="javascript:void(0);" id="edit-training-link">Edit Training Templates</a>
        <div id="edit-options" class="hidden">
            <a href="{% url 'create_training_template' %}">New</a>
            <a href="{% url 'training_template_list' %}">Edit Existing</a>
        </div>
        <a href="/view-history">View History</a>
    </div>
    <script src="{% static 'dashboard/scripts.js' %}"></script>
</body>
</html>
