.exercise-container {
    display: inline-flex;
    align-items: center;
}

.trashcan-btn {
    margin-left: 5px; /* Adjust margin as needed */
}

.finish-btn {
    margin-left: 5px; /* Adjust margin as needed */
}