<!-- templates/training_templates/create_training_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Create Training Template</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'training_templates/styles-2.css' %}">
</head>
<body>
    <h1>{% if template_id %}Edit{% else %}Create{% endif %} Training Template</h1>
    <form method="post" action="{% if template_id %}{% url 'edit_training_template' template_id=template_id %}{% else %}{% url 'create_training_template' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="name-form">Save</button>
    </form>

    {% if template_id %}
        {% include 'training_templates/selected_exercises.html' %}
        {% include 'training_templates/add_exercise.html' %}
    {% endif %}

    <a href="{% url 'training_template_list' %}">Finish</a>
</body>
</html>
