{% if selected_exercises %}
    <h2>Selected Exercises</h2>
    <ul>
        {% for exercise_order in selected_exercises %}
            <li>
                <div class="exercise-container">
                    <div class="exercise-header">
                        <span class="exercise-name">{{ exercise_order.exercise.name }}</span>
                        <div class="control-icons">
                            <form method="post" action="{% url 'move_up_exercise' template_id=template_id exercise_id=exercise_order.exercise.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="arrow-btn">⬆️</button>
                            </form>
                            <form method="post" action="{% url 'move_down_exercise' template_id=template_id exercise_id=exercise_order.exercise.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="arrow-btn">⬇️</button>
                            </form>
                            <form method="post" action="{% url 'delete_exercise' template_id=template_id exercise_id=exercise_order.exercise.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="trashcan-btn">🗑️</button>
                            </form>
                        </div>
                    </div>
                    <div class="sets-container" >
                        <div class="set-legend">
                            <span class="set-legend-item">Set</span>
                            <span class="set-legend-item">Reps</span>
                            <span class="set-legend-item">Weight</span>
                        </div>
                        <div class="sets-list">
                            <ul>
                                {% for set in exercise_order.sets.all %}
                                    <li>
                                        <div class="set-line">
                                            <div class="set-form-container">
                                                <form method="post" class="edit-set-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="edit-set" value="true">
                                                    <input type="hidden" name="set_id" value="{{ set.id }}">
                                                    <span class="set-type-display">{{ set.set_type }}</span>
                                                    <input type="number" name="reps" value="{{ set.reps }}" required>
                                                    <input type="number" name="weight" value="{{ set.weight }}" required>
                                                    <button type="submit" name="edit-set-form">✔️</button>
                                                </form>
                                            </div>
                                            <div class="set-trashcan-btn-container">
                                                <form method="post" action="{% url 'delete_set' template_id=template_id set_id=set.id %}" class="set-trashcan-btn">
                                                    {% csrf_token %}
                                                    <button type="submit" class="set-trashcan-btn">🗑️</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    <div class="add-set-form-container" id="add-set-form-{{ exercise_order.id }}">
                        <form method="post" action="{% url 'edit_training_template' template_id=template_id %}">
                            {% csrf_token %}
                            <input type="hidden" name="add-set" value="true">
                            <input type="hidden" name="exercise_order_id" value="{{ exercise_order.id }}">
                            <button type="submit" name="add-set-form">Add Set</button>
                            <button type="submit" name="add-warmup-set-form">Add Warmup Set</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
