<!DOCTYPE html>
<html>
<head>
    <title>Training Templates</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'training_templates/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Training Templates</h1>
        <a href="/" class="dashboard-link">Dashboard</a>
    </div>
    <ul>
        {% for template, exercises_in_order in template_exercises %}
            <li class="list-item">
                <div>
                    <strong>{{ template.name }}</strong>
                    <ul>
                        {% for exercise_order in exercises_in_order %}
                            <li>{{ exercise_order.exercise.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <a href="{% url 'edit_training_template' template.id %}" class="button edit-button">Edit</a>
                    <form method="post" action="{% url 'delete_template' template.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
