body {
    display: flex;
    justify-content: center;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    text-align: center;
    position: relative;
}

.menu a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#edit-options, #training-templates {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);

}

#edit-options {
    margin-top: 50px;
}

#training-templates {
    margin-top: -50px; /* Adjust this value to control how high on the screen the templates start */
}

#edit-options a, #training-templates a {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border-radius: 5px;
}

#edit-options a:hover, #training-templates a:hover {
    background-color: #218838;
}

